body {
    overflow-x: hidden;
}

.activeLink {
    background: rgba(220, 0, 0, 0.5) !important;

    @include minmedia(768px) {
        border-radius: 0 0 8px 8px;
    }

    > a {
        color: #fff !important;
    }
}

main {
    // margin-top: 8rem;
    margin-top: 13rem;
}

header {
    // margin-bottom: 10rem;
    // height: 100%;
    min-height: 158px;
}

.get-started-btn {
    color: rgba(220, 0, 0, 0.7) !important;
}
