/* PAGE FOOTER STYLES */
footer {
    &.col-sm-12 {
        color: #888;
        font-size: 1.4em;
        padding: 20px;
        // margin-top: 120px !important;
        // position: absolute !important;
    }

    span.love {
        color: rgba(220, 0, 0, 0.6);
    }

    a {
        color: rgba(220, 0, 0, 0.4);
        // color: rgba(118, 82, 151, 0.541);
        font-weight: 800;

        &:hover {
            text-decoration: none;
            color: rgba(220, 0, 0, 0.8);
            // color: rgba(55, 31, 77, 0.541);
        }
    }
}