form {
    .user_avatar_preview {
        display: block;
        margin: 15px;
        margin-left: 0;
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }

    .imageTypeError,
    .imageSizeError {
        margin-bottom: 0;
    }
}
